* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial, sans-serif;
  /* background: url(foto/bg.png.jpg); */
}
.navbar {
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #0ef;
}
.navbar a {
  color: black;
  text-decoration: none;
  box-shadow: 5 4px 20px rgba(0, 0, 0, 0.51);
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row; /* Kembali ke baris horizontal */
    justify-content: space-between; /* Mendorong item ke ujung */
  }
}
.items {
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 15px 10px;
  gap: 50px;
  border-radius: 20px;
  animation: slideBottom 1s ease forwards;
}
.logo {
  background: #fff;
  padding: 15px 10px;
  animation: slideBottom 1s ease forwards;
  border-radius: 20px;
}
.footer-text {
  text-align: center;
  padding: 100px;
  margin: 0px;
  font-size: 13px;
  color: black;
  background: #0ef;
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home {
  text-align: center;
  padding: 50px;
  margin: 100px;
  border: 1px solid black;
  background-color: #fff;
  box-shadow: 5 4px 20px rgba(0, 0, 0, 0.3);
}

/* Style kartu-nama */

/* # kartu nama */
.id-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  /* background-color: #f4f4f4; */
  padding: 100px;
}
.kartu {
  width: 250px;
  height: 150px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: slideTop 1s ease forwards;
  animation-delay: 1s;
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-gallery {
  display: grid;
  grid-template-columns: 1fr; /* Hanya 1 kolom */
  gap: 20px;
  padding: 30px;
}
@media (min-width: 600px) {
  .project-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .project-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
.ig-card {
  width: 250px;
  height: 400px;
  background-color: #d9e9cf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 30px;
  border: 1px solid #eee;
  animation: slideTop 1s ease forwards;
  animation-delay: 1s;
  margin-bottom: 30px;
}
.ig-card img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}
.wa-card {
  width: 250px;
  height: 400px;
  background-color: #d9e9cf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 30px;
  border: 1px solid #eee;
  animation: slideTop 1s ease forwards;
  animation-delay: 1s;
}
.wa-card img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}
.btn-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px 15px;
  background-color: #efca08;
  border-radius: 25px;
  cursor: pointer;
}

.h1-paket {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #190ee3;
  font-size: 40px;
}
