#lampu-ajaib {
  width: 200px;
  padding: 40px;
  margin: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  /* Gaya awal saat 'mati' */
  background-color: #444;
  color: white;
}
body {
  background-color: #fafafa;
  color: #222;
  transition: all 0.3s ease;
}

.dark-mode {
  background-color: #222;
  color: #fafafa;
}

#kotak-interaktif {
  width: 300px;
  height: 200px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease;
}
